body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;
}

article {
	text-align: left;
	border: 1px black;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

section {
	display: block;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #314463;
	line-height: 150%;
}

a {
	padding-right: 0.25rem;
	padding-left: 0.25rem;
	color: #314463;
	text-decoration: underline;
}

a, a:visited {
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

a:hover {
	color: #30A5DD;
}

#top-banner a:hover {
	color: white;
}

blockquote {
	color: #494949;
	margin-left: 0;
}

h1 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 3rem;
	color: white;
}

h2 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 2.5rem;
	color: #30A5DD;
}

h3 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.5rem;
	color: #314463;
}

hr {
	width: 75%;
	border: 1px solid #30A5DD;
	margin-top: 2em;
	margin-bottom: 2em;

}

/*NAVIGATION BAR*/
nav {
	width: 100%;
}

.navigation-bar {
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
	font-size: 1.5em;
	text-align: center;
	width:100%;
	height:2.5em;
	background-color: white;
	margin: 0em;
}

.navigation-bar a{
	display: inline-block;
	text-align: center;
	color: black;
	text-decoration: none;
	background-color: white;
	width: 100%;
	height: 25px;
	padding-top: 0.75em;
	padding-bottom: 1.75em;
}

.subpage-header-text {
	text-align: center;
	padding-left: 10%;
	color: white;
}

#home {
	font-size: 2rem;
	font-weight: 700;
	padding-top: 0.4em;
	padding-bottom:0.6em;
}

/*no hover home button*/
#home:hover {
	/*color: black;
	background-color: white;*/
}

.navigation-bar a, .navigation-bar a:visited {
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.navigation-bar a:hover {
	color: #30A5DD;
}

/*DROP DOWN MENU LINK*/
#pull {
    display: none;
}

.nav-col-1of4{
	width: 40%;
}

.nav-col-2of4{
	width: 20%;
}

.nav-col-3of4{
	width: 20%;
}

.nav-col-4of4{
	width: 20%;
}

/*LANDING PAGE STYLINGS*/

#top-banner {
	width: 100%;
	height: 25em;
	margin-left: 0;
	margin-bottom: 3em;
	padding-top: 1em;
	background-color: #30A5DD;
}

/*.intro-panel {
	margin: 0;
	width: 100%;
	height: 25em;
	background-color: #30A5DD;
}

.intro-panel img {
	float: left;
	width: 27em;
	height:auto;
	margin-left: 11em;
	padding-top: 4.5em;
}

.intro-panel h1 {
	margin: 0;
	padding-top: 2.5em;
}

.what-is-retrofit {
	margin-top: 4em;
	margin-left: 7em;
}

.what-is-retrofit p {
	margin-right: 3em;
}

.what-is-retrofit img {
	position: relative;
	float: left;
	width: 22.5em;
	height: auto;
	margin-left: 7em;
	margin-right: 1em;
	padding-top: 4.5em;
}*/

.consider-these-factors {
	margin-left: 6em;
}

.consider-these-factors h2{
	margin-top: 1em;
	margin-bottom: 0.5em;
}

/*Secondary Nav - Background Banners*/
#incentives-banner {
    margin: 0;
    margin-top: 61em;
    width: 100%;
    height: 37em;
    background-color: #30A5DD;
    padding-left: 7em;
    padding-top: 4em;
}
#installation-banner {
    margin: 0;
    margin-top: 70em;
    width: 100%;
    height: 37em;
    background-color: #30A5DD;
    padding-left: 7em;
    padding-top: 4em;
}
#savings-banner {
    margin: 0;
    margin-top: 70em;
    width: 100%;
    height: 37em;
    background-color: #30A5DD;
    padding-left: 7em;
    padding-top: 4em;
}

.info-sections {
	position: relative;
	margin-left:2em;
	border-radius: 4%;
	height:100%;
	display: inline-block;
	background-color: #EFEFEF;
	text-align: center;
}

.grid-col-1of3 .info-sections {
	margin-left: 0;
}

.info-sections img {
	margin: 1em;
}

.info-sections p {
	margin-left: 2.5em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 0.85em;
	width: 75%;
}

.button-default {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	border: 2px solid #30A5DD;
	border-radius: 50px;
	background-color: transparent;
	color: #30A5DD;
	text-decoration: none;
}

.button-default:hover, .button-default:visited {
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
	-webkit-transition: background-color 0.4s;
	transition: background-color 0.4s;
}

.button-default:hover {
	background-color: #30A5DD;
	color: white;
}

#cost-learn-button {
	position: relative;
	top: 1em;
}

#incentives-learn-button {
	position: relative;
	top: 2.25em;
}

#installation-learn-button {
	position: relative;
	top: 1em;
}

#savings-learn-button {
	position: relative;
	top: 2.25em;
}

#environment-learn-button {
	position:relative;
	top: 1em;
}

#lifestyle-learn-button {
	position:relative;
	top: 2.25em;
}

/*COST PAGE*/

.cost {
	margin-left: 7em;
	margin-bottom: 2em;
}

/*.cost img {
	width: 22.5em;
	height: auto;
	margin-left: 7em;
	margin-right: 1em;
}*/

.cost h2 {
	padding-top: 1em;
}

.cost p {
	margin-right: 3em;
}

#first-nav {
	margin-left: 0em;
}

.sub-sections {
	margin-top: 1em;
	margin-left: 1em;
	margin-bottom: 1em;
	border-radius: 4%;
	height:110%;
	display: inline-block;
	background-color: #EFEFEF;
	text-align: center;
}

.sub-sections img {
	margin: 1em;
	margin-top:2em;
}
.sub-sections p {
	margin-left: 2.5em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 0.85em;
	width: 75%;
}

/*Cost House Image*/
.grid-col-1of1 {
	margin: 0;
	float: middle;
	width: 100%;
}

.grid-col-1of1 img {
	margin-top: 1em;
	margin-left: 30%;
	margin-bottom: 1em;
	float: middle;
	width: 30%;
}

/*Cost Page Subsection Infographics Styling*/
.subpage-navigation {
	/*position:relative;*/
	margin-top:27em;
	width: 100%;
	height: 30em;
	/*background-color: #30A5DD;*/
	padding-left: 7em;
	padding-top:4em;
}

.subpage-article {
	margin-left: 0;
}

.subpage-article p {
	margin-right: 3em;
	padding-top:3em;
	margin-left: 12em;
	width:60%;
}

.subpage-article img {
	position: relative;
	float: left;
	width: 18em;
	height: auto;
	margin-right: 1em;
	margin-left: 40%;
	padding-bottom: 2em;
}

/*Incentives inforgraphics columns*/
.subpage-intro-col-1of2 {
	/*margin-left: 2em;*/
	width: 25%;
	float: left;
}
.subpage-intro-col-2of2 {
	margin-right: 2em;
	margin-left: 2em;
	width: 50%;
	float: left;
}

#subpage-intro-row2 {
	width: 25%;
	float: left;
}
#subpage-intro-row3 {
	width: 25%;
	float: left;
}

.subpage-info-text{
	font-size: 1.2em;
	width:90%;
	line-height: 1.7em;
	padding-top:3em;
	margin-left: 3em;
}

.subpage-info-text2{
	font-size: 1.2em;
	width:90%;
	line-height: 1.7em;
	padding-top: 2em;
	margin-left: 3em;
}

.subpage-info-text3{
	font-size: 1.2em;
	width:90%;
	line-height: 1.7em;
	padding-top: 2em;
	padding-bottom:7em;
	margin-left: 3em;
}

.subpage-image {
	margin-left: 0;
	width: 100%;
}

.subpage-article .retrofit-col-1of2 {
	width: 30%;
	margin-top:4em;
}

/*First Row Information*/
.subpage-intro-col-1of2 img {
	/*margin-left: 2em;*/
}

/*Second Row Information*/
#subpage-intro-row2 {
	margin-top: 2em;
}
#subpage-intro-row2 img {
	/*margin-left: 4.5em;*/
}
/*Third Row Information*/
#subpage-intro-row3 {
	margin-top: 2em;
}
#subpage-intro-row3 img {
	margin-left: 0;
}

/*@MEDIA RESPONSIVE CODE*/

/*NAV BAR*/

@media (max-width: 895px) {
	#home {
		font-size: 1.95rem;
		padding-right: 0.1em;
	}
@media (max-width: 894px) {
	#home {
		font-size: 1.8rem;
		padding-top: 0.3em;
	}

	.navigation-bar {
		font-size: 1.3em;
	}
}

@media (max-width: 830px) {
	#home {
		font-size: 1.5rem;
		padding-top: 0.4em;
	}
	.navigation-bar {
		font-size: 1.1em;
	}
}

@media (max-width: 400px) {
	#home {
		margin: 0;
	}
	#tabs {
		margin: 0;
	}
}

/*HOME PAGE*/

/*Intro Panel*/
@media (max-width: 1179px) {
	.intro-panel img {
		margin-left: 8em;
	}
}
@media (max-width: 1075px) {
	.intro-panel img {
		margin-left: 5em;
	}
}
@media (max-width: 1010px) {
	.intro-col-2of2 br {
		display: none;
	}

	.intro-panel {
		height: 23em;
		background-color: #30A5DD;
	}

	.intro-panel img {
		width: 25em;
		height: auto;
		margin-left: 19em;
		padding-top: 2.5em;
	}

	.intro-panel h1 {
		margin: 0;
		padding-top: 0.5em;
		font-size: 2.5rem;
		text-align: center;
	}

	.consider-these-factors {
		margin-left: 4em;
	}

	.grid-col-2of3 {
		margin-left: 1em;
	}

	.grid-col-3of3 {
		margin-left: 1em;
	}
}
@media (max-width: 963em) {
	.sub-sections {
		height: 380px;
	}
}

@media (max-width: 888) {
	.info-sections {
		height:300px;
	}

	.sub-sections {
		height:300px;
	}
}

@media (max-width: 874px) {
	.intro-panel {
		height: 22em;
	}
	.intro-panel img {
		width: 25em;
		height: auto;
		margin-left: 15em;
		padding-top: 2.5em;
	}
	.intro-panel h1 {
		font-size: 2.25rem;
	}
}
@media (max-width: 851em) {
	.sub-sections {
		height: 400px;
	}
}
@media (max-width: 759px) {
	.intro-panel {
		height: 22em;
	}
	.intro-panel img {
		width: 25em;
		margin-left: 12em;
	}
	.intro-panel h1 {
		font-size: 2.15rem;
	}
}
@media (max-width: 730em) {
	.sub-sections {
		height: 430px;
	}
}
@media (max-width: 719px) {
	.intro-panel {
		height: 21em;
	}
	.intro-panel img {
		width: 25em;
		margin-left: 11em;
	}
	.intro-panel h1 {
		font-size: 1.8rem;
	}
}
/*At 700px, the secondary nav goes to full 100% sections*/
@media (max-width: 700px) {
	.cost img {
		margin-top: 1em;
	}
	.intro-panel {
		height: 23em;
	}
	.grid-col-1of3{
		clear:both;
	}

	.grid-col-2of3 {
		clear:both;
	}

	.grid-col-3of3{
		clear:both;
	}

	.info-sections {
		margin-left:0;
		width:300%;
	}
	.sub-sections {
		margin-left:0;
		width: 300%;
		height: 115%;
	}
	.sub-sections p {
		margin-left: 14%;
	}
	#incentives-learn-button {
		position: relative;
		top: 1em;
	}
	#installation-learn-button {
		position: relative;
		top: 1em;
	}
	#savings-learn-button {
		position: relative;
		top: 1em;
	}
}

@media (max-width: 650px) {
	.intro-panel img {
		margin-left: 8em;
	}
	.intro-panel h1 {
		font-size: 1.8rem;
	}
}
@media (max-width: 610px) {
	.intro-panel img {
		margin-left: 8em;
	}
	.intro-panel h1 {
		font-size: 1.7rem;
	}
}
@media (max-width: 590px) {
	.intro-panel img {
		margin-left: 6.5em;
	}
	.intro-panel h1 {
		font-size: 1.5rem;
	}
}
@media (max-width: 540px) {
	.intro-panel img {
		margin-left: 4em;
	}
	.intro-panel h1 {
		font-size: 1.4rem;
	}
}
@media (max-width: 499px) {
	.intro-panel {
		height: 20em;
	}
	.intro-panel img {
		width: 22em;
		padding-top: 1.5em;
	}
	.intro-panel h1 {
		font-size: 1.2rem;
	}
}
@media (max-width: 410px) {
	.intro-panel {
		height: 19em;
	}
	.intro-panel img {
		width: 20em;
		margin-left: 3em;
		padding-top: 1.5em;
	}
	.intro-panel h1 {
		font-size: 1.2rem;
	}
}
@media (max-width: 400px) {
	.intro-panel {
		height: 22em;
	}

	.intro-panel img {
		width: 15em;
		margin-left: 5em;
		padding-top: 2em;
	}
	.intro-panel h1 {
		font-size: 1rem;
		padding-top: 1em;
	}
}


/*Incentives Infographic Media Queries*/
@media (max-width: 1120px) {
	.subpage-info-text {
		padding-top: 0em;
		width: 65%;
		text-align: center;
	}
	.subpage-info-text2 {
		padding-top: 1em;
		width: 65%;
		text-align: center;
	}
	#subpage-intro-row2 {
		margin-top: 0em;
	}
	.subpage-info-text3 {
		padding-top: 1em;
		width: 65%;
		text-align: center;
		padding-bottom: 0;
		margin-bottom: 2em;
	}
	#subpage-intro-row3 {
		margin-top: 0em;
	}
}







/*What Is A Retrofit*/
@media (max-width: 1120px) {
	.what-is-retrofit {
		margin-top: 4em;
		margin-left: 7em;
	}

	.what-is-retrofit img {
		width: 22em;
		margin-left: 3em;
	}
}

@media (max-width: 1010px) {
	.what-is-retrofit {
		margin-top: 2em;
		margin-left: 2em;
	}
}

@media (max-width: 910px) {
	.what-is-retrofit img {
		width: 20em;
	}
}
@media (max-width: 810px) {
	.what-is-retrofit img {
		width: 18em;
	}
}
/*What Is Retrofit breaks into single 100% columns*/
@media (max-width: 750px) {
	.what-is-retrofit img {
		margin-left: 12em;
		padding-top: 1.5em;
	}	
}
@media (max-width: 700px) {
	.what-is-retrofit img {
		margin-left: 11em;
	}	
}
@media (max-width: 675px) {
	.what-is-retrofit img {
		margin-left: 10em;
	}	
}
@media (max-width: 650px) {
	.what-is-retrofit img {
		margin-left: 9em;
	}	
}
@media (max-width: 625px) {
	.what-is-retrofit img {
		margin-left: 8em;
	}	
}
@media (max-width: 600px) {
	.what-is-retrofit img {
		width: 18em;
		margin-left: 8em;
	}	
}
@media (max-width: 575px) {
	.what-is-retrofit img {
		margin-left: 7em;
	}	
}
@media (max-width: 550px) {
	.what-is-retrofit img {
		margin-left: 6em;
	}	
}
@media (max-width: 525px) {
	.what-is-retrofit img {
		margin-left: 5em;
	}	
}
@media (max-width: 500px) {
	.what-is-retrofit img {
		width: 16em;
		margin-left: 6em;
	}	
}
@media (max-width: 475px) {
	.what-is-retrofit img {
		margin-left: 5em;
	}	
}
@media (max-width: 450px) {
	.what-is-retrofit img {
		margin-left: 4em;
	}	
}
@media (max-width: 425px) {
	.what-is-retrofit img {
		margin-left: 3em;
	}	
}
@media (max-width: 400px) {
	.what-is-retrofit img {
		margin-left: 2.5em;
	}	
}


/*MEDIA QUERIES*/


/*What Is A Retrofit*/
@media (max-width: 1120px) {
	.cost {
		margin-top: 1em;
		margin-left: 7em;
	}

	.cost img {
		width: 17em;
		margin-top: 2em;
		/*margin-left: 3em;*/
	}

	.cost h2 {
		margin-top: 0.5em;
		margin-left: 1em;
	}
	.cost p {
		display:inline-block;
		margin-left: 3em;
	}
	#top-banner {
		height: 20em;
		padding-bottom: 0em;

	}
	.subpage-header-text{
		text-align: left;
	}

}

@media (max-width: 1010px) {
	.cost {
		/*margin-top: 1em;*/
		margin-left: 2em;
	}
	/*.cost img {
		margin-left: 18em;
	}*/
	/*#top-banner {
		padding-top: 0em;
	}*/
}

/*@media (max-width: 910px) {
	.cost img {
		width: 20em;
		margin-left: 16em;
	}
	#top-banner {
		height: 23em;
	}
}*/

@media (max-width: 850px) {
	.cost p {
		margin-left: 4em;
	}
}
@media (max-width: 800px) {
	.cost p {
		margin-left: 5em;
	}
}


/*@media (max-width: 810px) {
	.cost img {
		width: 18em;
		margin-left: 14em;
	}
	#top-banner {
		height: 21em;
	}
}*/

/*What Is Retrofit breaks into single 100% columns*/
@media (max-width: 750px) {
	/*.cost img {
		margin-left: 12em;
		padding-top: 1.5em;
	}	*/
	.cost h2 {
		margin-top: 0em;
	}
	.cost p {
		margin-top: 2em;
		margin-left: 20%;
	}
	#top-banner {
		height: 21em;
	}
	.subpage-article p {
		padding-top: 0em;
	}
}
/*Top Banner goes back to centered layout*/
@media (max-width: 700px) {
	.cost img {
		width: 18em;
		margin-left: 30%;
	}	
	.cost p {
		margin-top: 0em;
		margin-left: 20%;
	}
	#top-banner {
		height: 30em;
	}
}
/*@media (max-width: 675px) {
	.cost img {
		margin-left: 12em;
	}	
}*/
@media (max-width: 650px) {
	.cost img {
		margin-left: 25%;
	}	
}
/*@media (max-width: 625px) {
	.cost img {
		margin-left: 10em;
	}	
}*/
/*@media (max-width: 600px) {
	.cost img {
		margin-left: 8em;
	}	
}*/
/*@media (max-width: 575px) {
	.cost img {
		margin-left: 7em;
	}	
}*/
@media (max-width: 550px) {
	.cost img {
		margin-left: 22%;
	}	
}
/*@media (max-width: 525px) {
	.cost img {
		margin-left: 5em;
	}	
}*/
@media (max-width: 500px) {
	.cost img {
		width: 16em;
		margin-left: 23%;
	}	
	#top-banner {
		height: 29em;
	}
}
@media (max-width: 482px) {
	#top-banner {
		height: 32em;
	}
}
/*@media (max-width: 475px) {
	.cost img {
		margin-left: 5em;
	}	
}*/
@media (max-width: 450px) {
	.cost img {
		margin-left: 20%;
	}	
}
/*@media (max-width: 425px) {
	.cost img {
		margin-left: 3em;
	}	
}*/
@media (max-width: 403px) {
	#top-banner {
		height: 34em;
	}
}
@media (max-width: 400px) {
	.cost img {
		margin-left: 4em;
	}	
	#top-banner {
		height: 38em;
	}
}


/*Sub Page Media Queries*/
/*@media (max-width: 1080px) {
	.subpage-article img {
		margin-left: 4em;
	}
}*/

@media (max-width: 854px) {
	.subpage-navigation {
		margin-top: 40em;
	}
}


@media (max-width: 1110px) {
	.subpage-navigation {
		/*position:relative;*/
		margin-top:30em;
	}
}

/*@media (max-width: 980px) {
	.subpage-article img {
		margin-left: 0;
	}
}*/

@media (max-width: 945px) {
	.subpage-navigation {
		/*position:relative;*/
		margin-top:33em;
	}
}

@media (max-width: 847px) {

	.subpage-navigation {
		/*position:relative;*/
		margin-top:33em;
	}
}

@media (max-width: 759px) {
	.subpage-navigation {
		/*position:relative;*/
		margin-top:40em;
	}
}

@media (max-width: 729px) {
	.subpage-grid-col-1of2 {
		clear:both;
		/*width:150%*/
	}

	.subpage-grid-col-2of2 {
		clear:both;
		/*width:150%;*/
	}

	.subpage-navigation .info-sections {
		width:185%;
		margin:0;
	}

		.subpage-navigation {
		height:55em;
	}
}

@media (max-width: 590px) {
	.subpage-navigation {
		height:55em;
	}
}
@media (max-width: 410px) {
	.subpage-navigation .info-sections {
		width:185%;
		height: 350px;
	}
}
@media (max-width: 400px) {
	.subpage-navigation {
		/*position:relative;*/
		margin-top:53em;
	}
}
@media (max-width: 1010px) {
	.subpage-article {
		/*margin-top: 2em;*/
		margin-left: 1em;
	}
}

/*Secondary Nav - Background Banners*/
@media (max-width:1220px){

	#savings-banner .grid-col-1of3{
		margin-left:-2em;
	}
}

@media (max-width: 1120px) {
	#incentives-banner {
	    margin-top: 82em;
	}

	#installation-banner {
		margin-top:90em;
	}

	#savings-banner {
		margin-top:94em;
	}

}

@media (max-width:1110px) {
	#incentives-banner .grid-col-1of3 {
		margin-left:-1.5em;
	}


	#savings-banner .grid-col-1of3{
		margin-left:-2em;
	}
}

@media (max-width: 1058px) {
	
	#installation-banner .grid-col-1of3 {
		margin-left:-3em;
	}
}

@media (max-width:1040px) {
	#installation-banner {
		margin-top:95em;
	}
}
@media (max-width: 948px) {
	#incentives-banner {
	    height: 32em;
	}
}

@media (max-width: 895px) {
	#savings-banner {
		margin-top:99em;
	}
}

@media (max-width: 891px) {
	#incentives-banner {
	    margin-top: 87em;
	}

	
}
@media (max-width: 887px) {
	#incentives-banner {
	    height: 35em;
	}
}

@media (max-width: 822px) {
	#savings-banner {
		margin-top:103em;
	}
}

@media (max-width: 820px){
#installation-banner {
		margin-top:100em;
	}
}

@media (max-width: 813px) {
	#incentives-banner .grid-col-1of3 {
		margin-left:-2em;
	}
}
@media (max-width: 754px) {
	#incentives-banner {
	    margin-top: 92em;
	}
}
@media (max-width: 700px) {
	#incentives-banner {
	    height: 75em;
	}

	#installation-banner .grid-col-2of3 {
		margin-left: -2.9em;
	}

	#installation-banner .grid-col-3of3 {
		margin-left: -2.9em;
	}
}

@media(max-width:700px){
	#incentives-banner .grid-col-2of3{
		margin-left:-2em;
}
	#incentives-banner .grid-col-3of3{
			margin-left:-2em;
		}

		#installation-banner {
		height:77em;
	}

	#savings-banner {
		height:77em;
	}

	#savings-banner .grid-col-1of3{
		margin-left:-2.7em;
	}

	#savings-banner .grid-col-2of3{
		margin-left:-2.7em;
	}

	#savings-banner .grid-col-3of3{
		margin-left:-2.7em;
	}
	} 

@media (max-width: 696px) {
	#savings-banner {
		margin-top:110em;
	}
}

	@media (max-width: 648px){
#installation-banner {
		margin-top:105em;
	}
}

@media (max-width: 634px) {
	#incentives-banner {
	    margin-top: 97em;
	}
}

@media (max-width: 595px){
#installation-banner {
		margin-top:110em;
	}
}

@media (max-width: 546px) {
	#savings-banner {
		margin-top:113em;
	}
}

@media(max-width:528px){
	
	#incentives-banner .grid-col-1of3{
		margin-left:-2.5em;
	}

	#incentives-banner .grid-col-2of3{
		margin-left:-2.5em;
}
	#incentives-banner .grid-col-3of3{
			margin-left:-2.5em;
		}
	}

	@media (max-width: 525px){
#installation-banner {
		margin-top:115em;
	}

	#savings-banner {
		height:80em;
	}
}

@media (max-width: 504px) {
	#savings-banner {
		margin-top:118em;
	}
}

@media (max-width: 493px) {
	#incentives-banner {
	   height: 80em;
	}
}
@media (max-width: 484px) {
	#incentives-banner {
	    margin-top: 103em;
	}
}

	@media (max-width: 469px){
#installation-banner {
		margin-top:120em;
	}
}

@media (max-width: 453px) {
	#savings-banner {
		margin-top:124em;
	}
}

@media (max-width: 426px) {
	#savings-banner {
		margin-top:129em;
	}
}

@media (max-width: 418px) {
	#incentives-banner {
	    margin-top: 110em;
	}
}

@media(max-width:400px){
	
	#incentives-banner .grid-col-1of3{
		margin-left:-3em;
	}

	#incentives-banner .grid-col-2of3{
		margin-left:-3em;
}
	#incentives-banner .grid-col-3of3{
			margin-left:-3em;
		}

		#installation-banner {
		margin-top:124em;
	}
	}